:host {
  position: relative;
  user-select: none;
}
tbody {
  display: block;
}
thead, tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
th:not(.editing),
td:not(.editing) {
  cursor: cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th.selected,
td.selected {
  box-sizing: border-box;
  position: relative;
}
th.selected::before,
td.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px #00d1b2 solid;
}
th.editing,
td.editing {
  cursor: text;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 5px 3px #ccc;
  z-index: 999;
}
